* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/assets/images/background.png');
}

div{
    flex-direction: column;
    flex-shrink: 0;
}

.page-wrapper{
    min-height: 110vh;
}

.leaf{
    width: 100%;
    text-align: center;
}
.list-photo{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20%;
    width: 100%;
}

.column-container{
    display: flex;
    flex-direction: column;
}

.row-container{
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.footer-wrapper{
    width: 100%;
    position: fixed;
    bottom: 0;
    max-width: 425px;
}

.footer-wrapper-mobile{
    justify-content: space-between;
    padding: 24px 16px;
    background-color: #9d9695;
    box-shadow: 0 -3px 5px -5px #333;
}
.icon{
    width: 25;
    height: 25;
}

@media only screen and (min-width: 768px) {
    .mobile-view{
        max-width: 425px;
        margin: 0 auto;
    }
}